/* Core Stuff */
@font-face {
  font-family: SwingDevil;
  src: url("../fonts/swingdevil-regular.otf") format("opentype");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html, body {
width: 100%;
height: 100%;
font-family: 'Source Sans Pro', sans-serif;
color: #FFFFFF;
}

a {
text-decoration: none;
color: #FFFFFF;
}
  
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 50vh 50vh 50vh;
  grid-template-areas:
      "main"
      "paganini"
      "paganini-projects"
      "footer";
}
  
.main-grid-container {
  position: absolute;
  width:100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0px;
}
  
.main { 
  grid-area: main;
}

.benjamin-paulus-stamp-container {
  grid-column: 5 / 7;
  grid-row: 6 / 9;
}

.benjamin-paulus-title-container {
  grid-column: 3 / 9;
  grid-row: 9 / 12;
}

.benjamin-paulus-stamp,
.benjamin-paulus-title {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.benjamin-paulus-stamp {
  visibility: hidden;
  animation: stamp .3s ease-in-out 1 both;
  animation-delay: 1s;
}

@keyframes splash-image {
  0% { transform: scale(1.1); }
  80% { transform: scale(1.1); }
  85% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes stamp {
  0% { transform: scale(3.4); }
  1% { visibility: visible; }
  85% { transform: scale(0.8); }
  90% { transform: scale(0.85); }
  100% { transform: scale(1); visibility: visible;}
}
  
.social {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 4 / 8;
  grid-row: 13 / 14;
}
  
.scroll {
  grid-column: 5 / 7;
  grid-row: 15 / 17;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: scroll-drop-up .5s ease-in-out 1 both;
}

.scroll:hover {
  /* align-items: end; */
  -webkit-animation: scroll-drop-down .5s ease-in-out 1 both;
  animation: scroll-drop-down .5s ease-in-out 1 both;
}

@keyframes scroll-drop-down {
  from { transform: translate(0, 0); }
  to { transform: translate(0, 10px); }
}

@keyframes scroll-drop-up {
  to { transform: translate(0, 0); }
  from { transform: translate(0, 10px); }
}

.scroll-btn {
  width: 60%;
  height: auto;
  cursor: pointer;
  pointer-events: auto;
}

.paganini {
  grid-area: paganini;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "paganini-logo"
    "paganini-patreon"
    "paganini-social";
}

.paganini-logo {
  grid-area: paganini-logo;
  justify-content: center;
  align-items:flex-end;
  display: flex;
  z-index: 1;
}

.paganini-logo img {
  width: 70%;
  height: auto;
  max-width: 600px;
}

.paganini-patreon {
  font-family: SwingDevil;
  grid-area: paganini-patreon;
  justify-content: center;
  align-items: baseline;
  display: flex;
  z-index: 1;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  text-align: center;
}

.paganini > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.paganini-social {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 1;
}

.paganini-social .social-btn {
  width: auto;
  height: auto;
  margin: 0px 5px
}

.paganini-projects {
  grid-area: paganini-projects;
  position: relative;
}

.paganini-project-image {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left:100vw;
  top: 0;
  transition: left 0s;
}

.paganini-project-image.active {
  left: 0;
  transition: left 1s ease-in-out;
}

.paganini-project-image.deactivated {
  left:-100vw;
  transition: left 1s ease-in-out;
}

.paganini-project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  grid-area: footer;
  background: #e10928;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
  ". . . . . . . . . ."
  ". . . . . . . . . ."
  ". . . . contact contact . . . ."
  ". . cv fs fs fs fs hi . ."
  ". . . . fv fv . . . ."
  ". . . . fv fv . . . ."
  ". . . . fv fv . . . ."
  ". . . . fv fv . . . ."
  ". . . . fv fv . . . ."
}

.contact {
  font-family: SwingDevil;
  grid-area: contact;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cv {
  grid-area: cv;
  max-width: 192px;
  max-height: 64px;
}

.cv, .halley-interactive {
  justify-content: center;
  align-items: center;
  display: flex;
}

.cv img {
  width: 75%;
  height: auto;
}

.halley-interactive {
  grid-area: hi;
  max-width: 162px;
  max-height: 94px;
}

.halley-interactive img {
  width: 75%;
  height: auto;
}

.footer .footer-social {
  grid-area: fs;
  filter: invert(100);
}

.footer-visual {
  grid-area: fv;
  display: flex;
  box-sizing: border-box;
  padding-top: 5px;
  align-content: end;
  justify-content: center;
  overflow: hidden;
}

.footer-visual img {
  height: 100%;
  width: auto;
}

.social-btn {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: baseline;
  display: flex;
}

.footer .social-btn {
  align-items: center;
}

.social-btn a,
.cv a {
  display: contents;
}

.social-btn img {
  width: 40px;
  height: 40px;
  display: block;
}

.social-btn:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
}

@media only screen and (max-width: 1280px) {
  .social {
    grid-column: 3 / 9;
  }
  .scroll {
    grid-row: 16 / 17;
  }
}


  
  /* ----------------------------------------------
   * Generated by Animista on 2020-9-26 11:12:46
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation heartbeat
   * ----------------------------------------
   */
   @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
