/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454B4D;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html, body {
width: 100%;
height: 100%;
font-family: 'Source Sans Pro', sans-serif;
color: #FFFFFF;
}

a {
text-decoration: none;
color: #FFFFFF;
}
  
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 50vh 50vh 50vh;
  grid-template-areas:
      "main"
      "paganini"
      "paganini-projects"
      "footer";
}
  
.main-grid-container {
  position: absolute;
  width:100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus . ."
    ". . benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus . ."
    ". . benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus . ."
    ". . benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus benjamin-paulus . ."
    ". . . social social social social . . ."
    ". . . . scroll scroll . . . .";
}
  
.main { 
  grid-area: main;
}

.benjamin-paulus {
  grid-area: benjamin-paulus;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    ". stamp stamp ."
    "title title title title";
}

.benjamin-paulus-stamp {
  grid-area: stamp;
}

.benjamin-paulus-title {
  grid-area: title;
}

.benjamin-paulus-stamp,
.benjamin-paulus-title {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
  
.social {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: social;
}
  
.scroll {
  grid-area: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  pointer-events: none;
  animation: scroll-drop-up .5s ease-in-out 1 both;
}

.scroll:hover {
  /* align-items: end; */
  animation: scroll-drop-down .5s ease-in-out 1 both;
}

@keyframes scroll-drop-down {
  from { transform: translate(0, 0); }
  to { transform: translate(0, 10px); }
}

@keyframes scroll-drop-up {
  to { transform: translate(0, 0); }
  from { transform: translate(0, 10px); }
}

.scroll-btn {
  width: 60%;
  height: auto;
  cursor: pointer;
  pointer-events: auto;
}

.paganini {
  grid-area: paganini;
  background: darkorchid;
}

  .paganini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .paganini-projects {
    grid-area: paganini-projects;
    background: brown;
  }

  .paganini-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    grid-area: footer;
    background: darkolivegreen;
  }
  
  .social-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    background: saddlebrown;
  }
  
  .social-btn:hover {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
              animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2020-9-26 11:12:46
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation heartbeat
   * ----------------------------------------
   */
   @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
